<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
  <script>
     
     window.localStorage.setItem('log ' + Date() , 'Something went wrong with  login')      

</script>
{% endfor %}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    <button type="submit">Login</button>
</form>

